<a href="https://colab.research.google.com/github/DARYAVOLKK2/DARYAVOLKK2/blob/master/hw1_tabular_data_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Each student has personal set of questions

Google sheet with personal questions: https://docs.google.com/spreadsheets/d/16NfDeMJGCGsrsHYFV5qWC3iexrSdc93c-NHQvKka5K8/edit?usp=sharing

Every column corresponds to a single question, every row to a single student.

For example, Maksim Komiakov need to report questions 1.1, 1.2: 2.2, 2.3; 3.4, 3.1 etc.

## Submiting results

Google form to submit your answers: https://forms.gle/auZXVxfr4sk3cCmk8

Google form has fields for all questions, but you only need to answer **your** questions (from google sheet above).

Use your **skoltech email**. Fill your first and last names with **exactly same spelling** as in canvas system.

---

Every question has an information about the type of the answer, e.g.

> Observe top 10 observations (int)

here your answer must be a single **integer** number.

---

If your answer is a ``float number``, then it must be provided with **3 decimals after the floating point**, e.g. 1.234

---

If your answer is a ``list of float or integer numbers or str``, then they should be reported in descending (alphabetical) order, without spacing, divided by a comma, e.g.:

10.453,9.112,5.001,5.000 - **Right**

10.453, 9.112, 5.001, 5.000 - **Wrong**

---

Part of the tasks, e.g. Q19.1-5, Q20.1-5, do not have corresponding fields in the google form. They are **not optional** and they will be graded manually from your .ipynb file.

---

If you have any questions regarding this Home Assignment, ask them via telegram chat, topic 'HW1'.

# Assignment 1. House Pricing.
by Anvar Kurmukov

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using house sale price data from King County, Wahington, USA. This dataset is in public domain and can be obtained from Kaggle: https://www.kaggle.com/harlfoxem/housesalesprediction

You need to place `kc_house_data.csv` file in the same directory as this notebook.

In [ ]:
import pandas as pd
import numpy as np
import random

from sklearn.linear_model import Ridge

random.seed(42)
np.random.seed(42)

In [ ]:
!pip install seaborn --upgrade

Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.23.5)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `house_data.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

In [ ]:
# Load the data
df = pd.read_csv('/content/sample_data/kc_house_data.csv')
pd.set_option("display.max_columns",30)
df.index += 1

In [ ]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
2,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
3,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
4,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
5,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
6,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
7,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
8,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
9,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
10,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [ ]:
df.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21604,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,3,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21605,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,3,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21606,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,3,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21607,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,3,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21608,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,3,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21609,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21610,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21611,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21612,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21613,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
print(df.shape)

(21613, 21)

In [ ]:
# Observe top 10 observations (int)

# Q1.1 What is the price of a house with `id` == 7237550310?
# Q1.2 How many bedrooms has a house with `id` == 7237550310?
# Q1.3 When was the house with `id` == 2414600126 built (`yr_built`)?
# Q1.4 What is the `grade` of a house with `id` == 5631500400?
# Q1.5 When was the house with `id` == 6414100192 renovated (`yr_renovated`)?

In [ ]:
#1.2 How many bedrooms has a house with `id` == 7237550310?
num_bedrooms = int(df['bedrooms'].loc[df['id'] == 7237550310])
print(f"The house with id 7237550310 has {num_bedrooms} bedrooms.")

The house with id 7237550310 has 4 bedrooms.

In [ ]:
#1.4 What is the `grade` of a house with `id` == 5631500400?
num_grade = int(df['grade'].loc[df['id'] == 5631500400])
print(f"The house with id 7237550310 has {num_grade} grade.")

The house with id 7237550310 has 6 grade.

In [ ]:
# Observe last 10 observations (int)

# Q2.1 What is the price of a house with `id` == 263000018?
# Q2.2 How many bedrooms has a house with `id` == 291310100?
# Q2.3 When was the house with `id` == 1523300141 built (`yr_built`)?
# Q2.4 How many floors house with `id` == 2997800021 has?
# Q2.5 What is the zipcode of the house with `id` == 7852140040?

In [ ]:
# Q2.2 How many bedrooms has a house with `id` == 291310100?
num_bedrooms = int(df['bedrooms'].loc[df['id'] == 291310100])
print(f"The house with id 291310100 has {num_bedrooms} bedrooms.")

The house with id 291310100 has 3 bedrooms.

In [ ]:
# Q2.5 What is the zipcode of the house with `id` == 7852140040?
num_zipcode = int(df['zipcode'].loc[df['id'] == 7852140040])
print(f"The house with id 7852140040 has {num_zipcode} zipcode.")

The house with id 7852140040 has 98065 zipcode.

In [ ]:
# Increase maximal displayed columns
pd.set_option("display.max_columns",40)
print(df)

               id             date     price  bedrooms  bathrooms  \
1      7129300520  20141013T000000  221900.0         3       1.00
2      6414100192  20141209T000000  538000.0         3       2.25
3      5631500400  20150225T000000  180000.0         2       1.00
4      2487200875  20141209T000000  604000.0         4       3.00
5      1954400510  20150218T000000  510000.0         3       2.00
...           ...              ...       ...       ...        ...
21609   263000018  20140521T000000  360000.0         3       2.50
21610  6600060120  20150223T000000  400000.0         4       2.50
21611  1523300141  20140623T000000  402101.0         2       0.75
21612   291310100  20150116T000000  400000.0         3       2.50
21613  1523300157  20141015T000000  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  condition  grade  \
1             1180      5650     1.0           0     0          3      7
2             2570      7242     2.0           0     0          3      7
3              770     10000     1.0           0     0          3      6
4             1960      5000     1.0           0     0          5      7
5             1680      8080     1.0           0     0          3      8
...            ...       ...     ...         ...   ...        ...    ...
21609         1530      1131     3.0           0     0          3      8
21610         2310      5813     2.0           0     0          3      8
21611         1020      1350     2.0           0     0          3      7
21612         1600      2388     2.0           0     0          3      8
21613         1020      1076     2.0           0     0          3      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
1            1180              0      1955             0    98178  47.5112
2            2170            400      1951          1991    98125  47.7210
3             770              0      1933             0    98028  47.7379
4            1050            910      1965             0    98136  47.5208
5            1680              0      1987             0    98074  47.6168
...           ...            ...       ...           ...      ...      ...
21609        1530              0      2009             0    98103  47.6993
21610        2310              0      2014             0    98146  47.5107
21611        1020              0      2009             0    98144  47.5944
21612        1600              0      2004             0    98027  47.5345
21613        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
1     -122.257           1340        5650
2     -122.319           1690        7639
3     -122.233           2720        8062
4     -122.393           1360        5000
5     -122.045           1800        7503
...        ...            ...         ...
21609 -122.346           1530        1509
21610 -122.362           1830        7200
21611 -122.299           1020        2007
21612 -122.069           1410        1287
21613 -122.299           1020        1357

[21613 rows x 21 columns]

In [ ]:
# Observe top 10 observations again
# Is there any new columns displayed?
df.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21604,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,3,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21605,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,3,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21606,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,3,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21607,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,3,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21608,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,3,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21609,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21610,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21611,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21612,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21613,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
# Print all the columns/features names (int)

# Q3.1 How many columns have `yr_` prefix?
# Q3.2 How many columns have `sqft_` prefix?
# Q3.3 How many columns assosiated with house location (except `zipcode`) are in the data?
# Q3.4 How many columns have `rooms` in their names?

In [ ]:
# Q3.2 How many columns have `sqft_` prefix?
num_sqft_columns = df.filter(like='sqft_').shape[1]
print(num_sqft_columns)

6

In [ ]:
# Q3.3 How many columns assosiated with house location (except `zipcode`) are in the data?
num_location_columns = df.filter(like='location').shape[1]
print(num_location_columns)

0

In [ ]:
# Print data size (int)

# Q4.1 How many observations are in the data?
# Q4.2 How many features are in the data?

In [ ]:
# Q4.1 How many observations are in the data?
num_observations = df.shape[0]
print(num_observations)

21613

In [ ]:
# Q4.2 How many features are in the data?
num_features = df.shape[1]
print(num_features)

21

# 2. Basic data exploration

Lets do some basics:
- `.count()` number of not NaN's in every column.
- Is there any missing values in the data?
- Count number of unique values in every column `.nunique()`.
- What does this tells you about the features, which are most likely categorical and which are most likely numerical?
- Use pandas `.describe()` to display basic statistic about the data.
- Use pandas `.value_counts()` to count number of unique values in a specific column.
- Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.
- Use pandas `.dtypes` field to display data types in columns.

**Hint**
You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [ ]:
# Display number of not NaN's in every column (int)

# Q5.1 How many NA values are in the `floors` column?
# Q5.2 How many NA values are in the `grade` column?
# Q5.3 How many NA values are in the `bedrooms` column?
# Q5.4 How many NA values are in the `yr_built` column?
# Q5.5 How many explicit NA values are in the `yr_renovated` column?

In [ ]:
# Q5.4 How many NA values are in the `yr_built` column?
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
# Q5.5 How many explicit NA values are in the `yr_renovated` column?
explicit_na_count = df['yr_renovated'].isna().sum()
print(explicit_na_count)

0

In [ ]:
# Count number of unique values in every column (int)

# Q6.1 How many unique values are in the `bedrooms` column?
# Q6.2 How many unique values are in the `grade` column?
# Q6.3 How many unique values are in the `yr_renovated` column?
# Q6.4 How many unique values are in the `bathrooms` column?
# Q6.5 How many unique values are in the `long` column?

In [ ]:
# Q6.2 How many unique values are in the `grade` column?
unique_grade_count = df['grade'].nunique()
print(unique_grade_count)

12

In [ ]:
# Q6.4 How many unique values are in the `bathrooms` column?
unique_bathrooms_count = df['bathrooms'].nunique()
print( unique_bathrooms_count)

30

In [ ]:
# Count frequency of the values in different columns (list of ints in descending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`

# Q7.1 For every unique `floors` value give its number of occurences.
# Q7.2 For every unique `condition` value give its number of occurences.
# Q7.3 For every unique `bedrooms` value give its number of occurences.
# Q7.4 For every unique `grade` value give its number of occurences.
# Q7.5 For every unique `view` value give its number of occurences.

In [ ]:
# Q7.2 For every unique `condition` value give its number of occurences.
unique_condition_count = df['condition'].value_counts()
print( unique_condition_count)

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [ ]:
# Q7.4 For every unique `grade` value give its number of occurences.
unique_grade_count = df['grade'].value_counts()
print( unique_grade_count)

7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: grade, dtype: int64

In [ ]:
# Display basic data statistics using .describe()
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q8.1 What are the max, min, mean and the std of the `floors` column?
# Q8.2 What are the max, min, mean and the std of the `bedrooms` column?
# Q8.3 What are the max, min, mean and the std of the `sqft_living` column?
# Q8.4 What are the max, min, mean and the std of the `pice` column?
# Q8.5 What are the max, min, mean and the std of the `long` column?

In [ ]:
# Q8.2 What are the max, min, mean and the std of the `bedrooms` column?
bedrooms_max = df['bedrooms'].max()
bedrooms_min = df['bedrooms'].min()
bedrooms_mean = df['bedrooms'].mean().round(3)
bedrooms_std = df['bedrooms'].std().round(3)
sort = bedrooms_max,bedrooms_min,bedrooms_mean,bedrooms_std
statistics_df =  pd.DataFrame({
    'Statistic': ['Max', 'Min', 'Mean', 'Std'],
    'Value': [bedrooms_max, bedrooms_min, bedrooms_mean, bedrooms_std]
})
sorted = statistics_df.sort_values(by='Value', ascending=True)

print(sorted)

  Statistic   Value
1       Min   0.000
3       Std   0.930
2      Mean   3.371
0       Max  33.000

In [ ]:
# Q8.3 What are the max, min, mean and the std of the `sqft_living` column?
sqft_living_max = df['sqft_living'].max()
sqft_living_min = df['sqft_living'].min()
sqft_living_mean = df['sqft_living'].mean().round(3)
sqft_living_std = df['sqft_living'].std().round(3)

statistics_df =  pd.DataFrame({
    'Statistic': ['Max', 'Min', 'Mean', 'Std'],
    'Value': [sqft_living_max, sqft_living_min, sqft_living_mean, sqft_living_std]
})
sorted = statistics_df.sort_values(by='Value', ascending=True)

print(sorted)

  Statistic      Value
1       Min    290.000
3       Std    918.441
2      Mean   2079.900
0       Max  13540.000

In [ ]:
# Display data types of all columns (int)

# Q9.1 How many columns have `object` data type?
# Q9.2 How many columns have `int64` data type?
# Q9.3 How many columns have `float64` data type?

# Display data types of all columns (list of str)
# Q9.4 What are the columns with dtype == `float64`?
# Q9.5 What are the columns with dtype == `int64`?

In [ ]:
# Q9.3 How many columns have `float64` data type?
column_data_types = df.dtypes

float64_columns_count = (column_data_types == 'float64').sum()

print(column_data_types)

print("float64 =", float64_columns_count)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object
float64 = 5

In [ ]:
# Q9.5 What are the columns with dtype == `int64`?
column_data_types = df.dtypes.astype(str)

print(column_data_types.tolist())

int64_columns = column_data_types[column_data_types == 'int64'].index.tolist()

print(int64_columns)

['int64', 'object', 'float64', 'int64', 'float64', 'int64', 'int64', 'float64', 'int64', 'int64', 'int64', 'int64', 'int64', 'int64', 'int64', 'int64', 'int64', 'float64', 'float64', 'int64', 'int64']
['id', 'bedrooms', 'sqft_living', 'sqft_lot', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'sqft_living15', 'sqft_lot15']

# 3. Data selection

In pandas.DataFrame you could select

1. Row/s by position (integer number \[0 .. number of rows - 1\]) `.iloc` or by DataFrame.index `.loc`:
```
data.loc[0]
data.loc[5:10]
data.iloc[0]
data.iloc[5:10]
```
*Though, this is probably the worst way to manipulate rows.*

2. Columns by name
```
data[columname]
```
3. Row/s and columns
```
data.loc[10, columname]
data.iloc[10, columname]
```
4. Using boolean mask
```
mask = data[columname] > value
data[mask]
```
You could combine multiple conditions using `&` or `|` (and, or)

```
cond1 = data[columname1] > value1
cond2 = data[columname2] > value2
data[cond1 & cond2]
```
5. Using queries `.query()`:
```
value = 5
data.query("columname > value")
```
You could combine multiple conditions using `and`, `or`

```
data.query("(columname1 > value1) and (columname2 > value2)")
```
and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

*Remember to use different quotation marks " or ' for columnname inside a query.*

In [ ]:
# # setting DataFrame index to be an `id` column, now .loc and .iloc will have different behavior
# data.index = data.id

# # dropping `id` column, since now it is an index
# data.drop('id', axis=1, inplace=True)

# # sort data by index for clarity
# data.sort_index(inplace=True)

In [ ]:
# Select rows by position (int)

# Q10.1 How many bedrooms have a house on row 777?
# Q10.2 When was built a house on row 9999?
# Q10.3 How many floors have a house on row 1337?
# Q10.4 How many bathrooms have a house on row 314?
# Q10.5 What is the grade of a house on row 2718?

In [ ]:
# Q10.1 How many bedrooms have a house on row 777?
bedrooms_in_row = df.loc[777, 'bedrooms']

print( bedrooms_in_row)

3

In [ ]:
# Q10.5 What is the grade of a house on row 2718?
grade_in_row = df.loc[2718, 'grade']

print( grade_in_row)

10

In [ ]:
# Select rows by index (int)

# Q11.1 How many times the house with index 1000102 were sold?
# Q11.2 What is the price of the house with index 9842300095?
# Q11.3 When was built the house with index 104510440?
# Q11.4 What is the condition of a house with index 252000300?
# Q11.5 What is the living area (in square feets) of the house with index 1225069038?

In [ ]:
# Q11.2 What is the price of the house with index 9842300095?
price_of_house = df.loc[df['id'] == 9842300095, 'price'].values[0]

print(price_of_house)

365000.0

In [ ]:
# Q11.5 What is the living area (in square feets) of the house with index 1225069038?
living_area_of_house = df.loc[df['id'] == 1225069038, 'sqft_living'].values[0]
print(living_area_of_house)

13540

In [ ]:
# Using mask or .query syntax select rows/columns (int)

# Q12.1 How many houses were built during American Great Depression (1929–1939)? Including both start and end year.
# Q12.2 When was built the only house with basement area = 1024 sqft?
# Q12.3 How many houses are with the highest possible grade?
# Q12.4 When was built a house with maximal number of bedrooms?
# Q12.5 How many houses were sold for 256000 dollars?

In [ ]:
# Q12.1 How many houses were built during American Great Depression (1929–1939)? Including both start and end year.
great_depression_houses = df.query('1929 <= yr_built <= 1939')

count_of_houses_in_great_depression = len(great_depression_houses)

print( count_of_houses_in_great_depression)

644

In [ ]:
# Q12.5 How many houses were sold for 256000 dollars?
price_mask = df['price'] == 256000

houses_sold_for_256000 = len(df[price_mask])

print( houses_sold_for_256000)

8

In [ ]:
# Using mask or .query syntax select rows/columns (int)

# Q13.1 How many houses with the waterfront (=1) were built duroing Nixon's presidency (1969—1974)? Including both start and end year.
# Q13.2 How many houses, built before first human in space (<1961), have high condition (=5)?
# Q13.3 How many houses are with 6 bedrooms and less than 2000 sqft living area?
# Q13.4 What was the price of a house with 5 bathrooms, built in 1998 and graded with 10 score?
# Q13.5 How many floors has a house built in 1999 with 5 bedrooms and 3400 sqft living area?

In [ ]:
# Q13.1 How many houses with the waterfront (=1) were built duroing Nixon's presidency (1969—1974)? Including both start and end year.
nixon_presidency= (df['waterfront'] == 1) & (df['yr_built'] >= 1969) & (df['yr_built'] <= 1974)

houses_built_during_nixon_presidency = len(df[nixon_presidency])

print(houses_built_during_nixon_presidency)

6

In [ ]:
# Q13.4 What was the price of a house with 5 bathrooms, built in 1998 and graded with 10 score?
selected_house = df.query('bathrooms == 5 and yr_built == 1998 and grade == 10')

if not selected_house.empty:
    house_price = selected_house['price'].values[0]
    print("Price of a house with 5 bathrooms, built in 1998, and graded with 10 score:", house_price)
else:
    print("No house found selected the specified conditions.")

Price of a house with 5 bathrooms, built in 1998, and graded with 10 score: 1180000.0

In [ ]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q14.1 What was the average (sold) price of a houses built in the year of Cuban Missile Crisis (1962)?
# Q14.2 What was the most expensive house sold in the last decade of 20th centuary?
# Q14.3 What was the least expensive house sold in the last decade of 20th centuary?
# Q14.4 What is the median number of bathrooms in houses with grade above 9 (10 and more)?
# Q14.5 What is the median grade of houses with most popular zipcode value?
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
2,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
3,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
4,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
5,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
6,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
7,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
8,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
9,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
10,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [ ]:
# Q14.3 What was the least expensive house built in the last decade of 20th centuary?
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d %H:%M:%S')

least_expensive_house = df.query('1990 <= yr_built <= 1999')['price'].idxmin()

print(least_expensive_house)

15977

In [ ]:
# Q14.5 What is the median grade of houses with most popular zipcode value?
most_popular_zipcode = df['zipcode'].mode().values[0]
median_grade = df.query('zipcode == @most_popular_zipcode')['grade'].median()
print( median_grade)

7.0

# 4. Creating new columns


Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = []
```
that's it. But such a column is relatively useless.
Typically, you would compute something new based on existing data and save it in a new column.
For example one might want to compute total area of the house as a sum of all `sqft_` columns, or
create a boolean column of whether the house has `grade` > 2 or anything else:

```
data['total_area'] = data[col1] + data[col2] + ...
data['high_value'] = data[col] > 5
```

Pandas also provides another powerfull tool: `.apply`, `.map()`, `.applymap()` methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas .
They allow you to *apply* some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of `total_area` and `high_value` using `.apply()`:
```
data['total_area'] = data[[col1, col2, col3]].apply(sum, axis=1)

```
you are not restricted to existent functions, `.apply()` accepts any function (including lambda functions):

```
data['total_area'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total
    
data['total_area'] = data[[col1, col2, col3]].apply(_sum, axis=1)
```
Many pandas methods has `axis` parameter `axis=0` refers to rows, `axis=1` refers to columns.

*Warning. You should never use `for` loops to sum numerical elements from the container.*

---

In [ ]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
4,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
5,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
6,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
7,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
8,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
9,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
10,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [ ]:
# Create `was_renovated` column. Bool column (0, 1) indicating whether the house was renovated.
df['was_renovated'] = 0
df.loc[df['yr_renovated'] > 0, 'was_renovated'] = 1
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
4,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0
5,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0

In [ ]:
# Create new columns using the old ones (new column in your DataFrame)

# Q15.1 Create a `sqft_tot_area` column (sum of all columns with `sqft_` prefix) using any method above
# Q15.2 Create a new column `sqm_tot_area` using `sqft_tot_area` and the fact that 1 foot = 0.3048 meters
# Q15.3 Create a new column `sqm_aver_floor_area` by dividing total area (in meters) by number of floors
# Q15.4 Create a new column `price_cat` by splitting a `price` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
# Q15.5 Create a new bool column `high_class` it is True if the house has grade >= 9 and condition >= 4

In [ ]:
# Q15.1 Create a `sqft_tot_area` column (sum of all columns with `sqft_` prefix) using any method above
df['sqft_tot_area'] = df.filter(like='sqft_').sum(axis=1)
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322

In [ ]:
# Q15.2 Create a new column `sqm_tot_area` using `sqm_tot_area` and the fact that 1 foot = 0.3048 meters
df['sqm_tot_area'] = df['sqft_tot_area']*0.3048
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,sqm_tot_area
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000,4572.0000
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711,6617.5128
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322,6803.7456

In [ ]:
# Q15.3 Create a new column `sqm_aver_floor_area` by dividing total area (in meters) by number of floors
df['sqm_aver_floor_area'] = df['sqm_tot_area']/ df['floors']
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,sqm_tot_area,sqm_aver_floor_area
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000,4572.0000,4572.0000
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711,6617.5128,3308.7564
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322,6803.7456,6803.7456

In [ ]:
# Q15.4 Create a new column `price_cat` by splitting a `price` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
percentiles = df['price'].quantile([0, 0.2, 0.4, 0.6, 0.8, 1])
df['price_cat'] = pd.cut(df['price'], bins=percentiles, labels=[1,2,3,4,5])
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,sqm_tot_area,sqm_aver_floor_area,price_cat
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000,4572.0000,4572.0000,1
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711,6617.5128,3308.7564,4
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322,6803.7456,6803.7456,1

In [ ]:
# Q15.5 Create a new bool column `high_class` it is True if the house has grade >= 9 and condition >= 4
df['high_class'] = (df['grade'] >= 9) & (df['grade'] >= 4)
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,sqm_tot_area,sqm_aver_floor_area,price_cat,high_class
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000,4572.0000,4572.0000,1,False
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711,6617.5128,3308.7564,4,False
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322,6803.7456,6803.7456,1,False
4,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0,15280,4657.3440,4657.3440,4,False
5,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0,20743,6322.4664,6322.4664,3,False

In [ ]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average price of the house of the high_class(=True)?
# Q16.2 What is the average total_area (in meters) of the house from highest price category?
# Q16.3 What is the maximal number of floors amongst houses with the lowest price category?
# Q16.4 What is the most frequent zipcode amongst houses with the lowest price category?
# Q16.5 What is the minimal number of bathrooms in houses with high_class=True?

In [ ]:
# Q16.1 What is the average price of the house of the high_class(=True)?
average_price = df[df['high_class'] == True]['price'].mean().round(3)
print(average_price)

959962.411

In [ ]:
# Q16.2 What is the average total_area (in meters) of the house from highest price category?
average_total_area = df[df['price_cat']==5]['sqm_tot_area'].mean()
print(average_total_area)

14536.63941651631

# 5. Basic date processing

You figure out that column `date` is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method `to_datetime()` to convert the date to a good format.
- Exctract `year`, `month`, `day` and `weekday` from your new date column. Save them to separete columns.
- How many columns has your data now?
- Drop column `date`, remember to set `inplace` parameter to True.


**Hint** for datetime formatted date you could extract the `year` as follow:
```
data.date.dt.year
```

Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like **black friday**.

Learn how to work with date in Python!

In [ ]:
# Create new columns based on `date` column

# Q17.1 Convert date to datetime format
# Q17.2 Extract and store `year`
# Q17.3 Extract and store `month`
# Q17.4 Extract and store `day`
# Q17.5 Extract and store `weekday`
# Q17.6 Create a new column `house_age_10` - the age of the house in full decades (e.g. 9 year old house - 0, 21 year old house - 2),
# using `yr_built` and 'year' columns

In [ ]:
# Q17.1 Convert date to datetime format
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.insert(1, 'date', df.pop('date'))
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,sqm_tot_area,sqm_aver_floor_area,price_cat,high_class
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000,4572.0000,4572.0000,1,False
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711,6617.5128,3308.7564,4,False
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322,6803.7456,6803.7456,1,False
4,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0,15280,4657.3440,4657.3440,4,False
5,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0,20743,6322.4664,6322.4664,3,False

In [ ]:
# Q17.2 Extract and store `year`
df['year'] = df['date'].dt.year
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,sqm_tot_area,sqm_aver_floor_area,price_cat,high_class,year
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000,4572.0000,4572.0000,1,False,2014
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711,6617.5128,3308.7564,4,False,2014
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322,6803.7456,6803.7456,1,False,2015
4,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0,15280,4657.3440,4657.3440,4,False,2014
5,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0,20743,6322.4664,6322.4664,3,False,2015

In [ ]:
# Q17.3 Extract and store `month`
df['month'] = df['date'].dt.month

In [ ]:
# Q17.4 Extract and store `day`
df['day'] = df['date'].dt.day

In [ ]:
# Q17.5 Extract and store `weekday`
df['weekday'] = df['date'].dt.weekday

In [ ]:
# Q17.6 Create a new column `house_age_10` - the age of the house in full decades (e.g. 9 year old house - 0, 21 year old house - 2),
# using `yr_built` and 'year' columns
df['house_age_10'] = (df['year'] - df['yr_built']) //10
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,sqm_tot_area,sqm_aver_floor_area,price_cat,high_class,year,month,day,weekday,house_age_10
1,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0,15000,4572.0000,4572.0000,1,False,2014,10,13,0,5
2,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,1,21711,6617.5128,3308.7564,4,False,2014,12,9,1,6
3,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0,22322,6803.7456,6803.7456,1,False,2015,2,25,2,8
4,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,0,15280,4657.3440,4657.3440,4,False,2014,12,9,1,4
5,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,0,20743,6322.4664,6322.4664,3,False,2015,2,18,2,2

In [ ]:
# # Drop column `date`
# df.drop('date', axis=1, inplace=True)

In [ ]:
# Find some date related information from the data (int)

# Q18.1 What is the most popular selling weekday?
# Q18.2 What is the most popular selling month?
# Q18.3 What is the least popular selling weekday?
# Q18.4 What is the median age of the house (on a first available sold date)? (float)
# Q18.5 How many houses were sold on America's Independence Day (July, 4)?

In [ ]:
# Q18.3 What is the least popular selling weekday?
least_popular_selling = df['date'].value_counts().idxmin()
print(least_popular_selling)

2015-01-10 00:00:00

In [ ]:
# Q18.5 How many houses were sold on America's Independence Day (July, 4)?
independence_day_sales = df[df['date'].dt.month == 7]
independence_day_sales = independence_day_sales[independence_day_sales['date'].dt.day == 4]

count_independence_day_sales = len(independence_day_sales)

print( count_independence_day_sales)

2

# 6. Groupby
From the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

    - Splitting the data into groups based on some criteria.
    - Applying a function to each group independently.
    - Combining the results into a data structure.
    
---
`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average area of houses with high grade you could compute average areas of the
houses for every grade in a single command:

```
data.groupby('grade')['sqm_tot_area'].mean()
```

You could also make multi-column groups:

```
data.groupby(['weekday','grade'])['price'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','grade'])['price'].agg([min, max])
```

instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['condition','grade'])['bathrooms'].apply(lambda x: np.quantile(x, .5))
```

and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['condition'])['bathrooms'].median()
data['gp_feature'] = data['condition'].map(gp)
```
Now, if some house has `condition == 2`, its `gp_feature` will be equal to the median number of
bathrooms amongst all houses with `condition == 2`.

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
# Create some groupby features

# Q19.1 `price_by_class` groupby `high_class` and compute median `price`.
# Q19.2 `price_by_year` groupby `year` and compute median price.
# Q19.3 `price_by_weekday` groupby `weekday` and compute median price.
# Q19.4 `area_by_price` groupby `price_cat` and compute average `sqft_living`.
# Q19.5 `floors_by_age` groupby `floors` and compute average age of a house.

In [ ]:
# Q19.3 `price_by_weekday` groupby `weekday` and compute median price.
df.groupby('weekday')['price'].median()

weekday
0    453000.0
1    449950.0
2    453000.0
3    442500.0
4    455000.0
5    475000.0
6    471250.0
Name: price, dtype: float64

In [ ]:
# Q19.4 `area_by_price` groupby `price_cat` and compute average `sqft_living`.
df.groupby('price_cat')['sqft_living'].mean()

price_cat
1    1411.600185
2    1737.459884
3    1885.257334
4    2217.393462
5    3148.705991
Name: sqft_living, dtype: float64

In [ ]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `n_houses_zipcode` groupby `zipcode` and count number of occurences of every unique zipcode
# Q20.2 `n_houses_yr_built` groupby `yr_built` and count number of houses built in each year
# Q20.3 `price_by_yr_month_`(median, std) groupby `year`, `month` and compute median and std `price`.
# Q20.4 `price_by_grade_age_`(median, std) groupby `grade`, `house_age` and compute median and std `price`.
# Q20.5 `living_by_cond_`(median, std) groupby `waterfront`, `view`, `condition` and compute median and std `sqft_living`.

In [ ]:
# Q20.1 `n_houses_zipcode` groupby `zipcode` and count number of occurences of every unique zipcode
df.groupby('zipcode')['zipcode'].count()

zipcode
98001    362
98002    199
98003    280
98004    317
98005    168
        ...
98177    255
98178    262
98188    136
98198    280
98199    317
Name: zipcode, Length: 70, dtype: int64

In [ ]:
# Q20.2 `n_houses_yr_built` groupby `yr_built` and count number of houses built in each year
df.groupby('yr_built')['yr_built'].count()

yr_built
1900     87
1901     29
1902     27
1903     46
1904     45
       ...
2011    130
2012    170
2013    201
2014    559
2015     38
Name: yr_built, Length: 116, dtype: int64

# 7. Building a regression model

> You do not need to normalize data for tree models; for linear/knn models this step is essential.

> Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.

> You may create or drop **any** features you want, except for the features which use `price` (e.g. average price of a house with 5 bedrooms).

In [ ]:
# Q21 Drop all generated features which used price column, e.g. price_by_year, price_cat.
column_lines = df.columns
print(column_lines)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'was_renovated',
       'sqft_tot_area', 'sqm_tot_area', 'sqm_aver_floor_area', 'price_cat',
       'high_class', 'year', 'month', 'day', 'weekday', 'house_age_10'],
      dtype='object')

In [ ]:
column_drops = [ 'price_cat',
       'high_class', 'weekday', 'house_age_10']
df = df.drop(columns= column_drops, axis=1, inplace=True)

In [ ]:
import sklearn
print(sklearn.__version__)
from sklearn.model_selection import train_test_split

1.2.2

In [ ]:
# Q22 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=42

X_train, X_test, y_train, y_test = train_test_split(df, test_size=0.33, random_state=42)


num_records_train = len(train_data)
num_records_test = len(test_data)

# Print the number of records in each set
print( num_records_train)
print(num_records_test)

TypeError: ignored

In [ ]:
# Create a predictive regression model of a house price.

# Q23.1 Use linear regression with l2 regularization (Ridge regression)
# Q23.2 Use decision tree regression
# Q23.3 Use k nearest neighbours regression
df.head()

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
# Q23.1 Use linear regression with l2 regularization (Ridge regression)
df_encoded = pd.get_dummies(df)

X = df_encoded.drop(columns=['price'])
y = df_encoded['price']

X.fillna(X.mean(), inplace=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

ridge_model = Ridge(alpha=1.0)
ridge_model.fit(X_train, y_train)

y_pred = ridge_model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse).round(3)
print( "Ridge Regression RMSE:", rmse)

In [ ]:
import sklearn
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor

In [ ]:
# Q23.2 Use decision tree regression
df_encoded = pd.get_dummies(df)
X = df_encoded.drop(columns=['price'])  # Features
y = df_encoded['price']  # Target variable
X.fillna(X.mean(), inplace=True)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Create and train a Decision Tree regression model
tree_model = DecisionTreeRegressor()
tree_model.fit(X_train, y_train)

# Make predictions
y_pred = tree_model.predict(X_test)

# Calculate Mean Squared Error (MSE) to evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse).round(3)
print("Decision Tree Regression RMSE:", rmse)

In [ ]:
# Use grid search to select optimal hyperparamters of your models.

# Q24.1 Alpha for a ridge regression
# Q24.2 Depth for the tree
# Q24.3 Number of neighbours for the knn

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# Q24.1 Alpha for a ridge regression
alphas = [0.1, 1, 10, 100]

ridge_cv = RidgeCV(alphas = [0.0001, 0.001,0.01, 0.1, 1, 10]).fit(X_train, y_train)

train_score = ridge_cv.score(X_train, y_train)
test_score = ridge_cv.score(X_test, y_test)

print(f"The train score for ridge model is {train_score:.3f}")
print(f"The test score for ridge model is {test_score:3f}")

In [ ]:
# Q24.2 Depth for the tree
param_grid = {'max_depth': [None, 10, 20, 30, 40]}

# Create the Decision Tree regression model
tree_model = DecisionTreeRegressor()

# Create the GridSearchCV object
grid_search = GridSearchCV(tree_model, param_grid, cv=5, scoring='neg_mean_squared_error')

# Perform grid search
grid_search.fit(X, y)

# Get the best hyperparameters
best_depth = grid_search.best_params_['max_depth']

# Print the best depth value
print("Best Depth for Decision Tree:", best_depth)

In [ ]:
# Compute train and test mean squared error for your best models (list of float).

# Q25.1 Train, test MSE using linear regression with l2 regularization
# Q25.2 Train, test MSE using decision tree regression
# Q25.3 Train, test MSE using k nearest neighbours regression

In [ ]:
# Q25.1 Train, test MSE using linear regression with l2 regularization
X_train, X_test, y_train, y_test = train_test_split(df_encoded, y, test_size=0.33, random_state=42)

# Normalize the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train the models
ridge_model = Ridge(alpha=1.0)
ridge_model.fit(X_train_scaled, y_train)

dt_model = DecisionTreeRegressor(max_depth=10)
dt_model.fit(X_train_scaled, y_train)

# Make predictions
y_train_pred_ridge = ridge_model.predict(X_train_scaled)
y_test_pred_ridge = ridge_model.predict(X_test_scaled)

y_train_pred_dt = dt_model.predict(X_train_scaled)
y_test_pred_dt = dt_model.predict(X_test_scaled)

# Calculate train and test MSE for both models
train_mse_ridge = mean_squared_error(y_train, y_train_pred_ridge)
test_mse_ridge = mean_squared_error(y_test, y_test_pred_ridge)

train_mse_dt = mean_squared_error(y_train, y_train_pred_dt)
test_mse_dt = mean_squared_error(y_test, y_test_pred_dt)

(train_mse_ridge, test_mse_ridge, train_mse_dt, test_mse_dt)

In [ ]:
# Q25.2 Train, test MSE using decision tree regression
# Calculate the predictions for both training and testing data
y_train_pred = dt_model.predict(X_train)
y_test_pred = dt_model.predict(X_test)

# Calculate the mean squared error for both training and testing data
train_mse = mean_squared_error(y_train, y_train_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

(train_mse, test_mse)

In [ ]:
# Compute train and test R^2 for your best models (list of float).

# Q26.1 Train, test R^2 using linear regression with l2 regularization
# Q26.2 Train, test R^2 using decision tree regression
# Q26.3 Train, test R^2 using k nearest neighbours regression

In [ ]:
# Q26.1 Train, test R^2 using linear regression with l2 regularization
# Assuming 'price' is your target column
X = df_encoded.drop('price', axis=1)
y = df_encoded['price']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Normalize the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and train Ridge regression model
ridge_model = Ridge(alpha=1.0)  # You can adjust the alpha value
ridge_model.fit(X_train_scaled, y_train)

# Make predictions
y_train_pred = ridge_model.predict(X_train_scaled)
y_test_pred = ridge_model.predict(X_test_scaled)

# Calculate train and test MSE
train_mse = mean_squared_error(y_train, y_train_pred)
test_mse = mean_squared_error(y_test, y_test_pred)

# Calculate train and test R-squared
train_r2 = r2_score(y_train, y_train_pred)
test_r2 = r2_score(y_test, y_test_pred)

(train_mse, test_mse, train_r2, test_r2)

In [ ]:
# Q26.2 Train, test R^2 using decision tree regression
# Create and train Decision Tree Regression model
dt_model = DecisionTreeRegressor(max_depth=5)  # You can adjust the depth as needed
dt_model.fit(X_train, y_train)

# Make predictions on both train and test data
y_train_pred_dt = dt_model.predict(X_train)
y_test_pred_dt = dt_model.predict(X_test)

# Calculate MSE and R-squared for train and test
train_mse_dt = mean_squared_error(y_train, y_train_pred_dt)
test_mse_dt = mean_squared_error(y_test, y_test_pred_dt)
train_r2_dt = r2_score(y_train, y_train_pred_dt)
test_r2_dt = r2_score(y_test, y_test_pred_dt)

(train_mse_dt, test_mse_dt, train_r2_dt, test_r2_dt)

In [ ]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
feature_names = df_encoded.drop('price', axis=1).columns

# Get the coefficients from the model
coefficients = ridge_model.coef_

# Create a list of tuples with feature names and their absolute coefficients
feature_coefficients = list(zip(feature_names, abs(coefficients)))

# Sort the list by the absolute value of coefficients in descending order
feature_coefficients.sort(key=lambda x: -x[1])

# Extract the top 5 features with the largest absolute weights
top_features = [feature for feature, _ in feature_coefficients[:5]]

top_features

# Make sure your .ipynb is linearly executable
# Kernel -> Restart & Run All -> No ERROR cells

In [ ]:
# Q28 Save your .ipynb file: FirstName_SecondName_HA1.ipynb, you will be asked to upload it into the google form.